input_images/*
labeled_images/*
output_json/*
captured_images/*
__pycache__/*
src/DataAugmentation/generatedTmaps/*
testing/ASL_Videos/*
training_data/temp/*
training_data/WLASL/*
Lib/*
Scripts/*
pyvenv.cfg
share/*
testing/*
src/__pycache__/*
training_data/unprocessed_training_data/hello.zip
training_data/unprocessed_training_data/hello/sample_1.png
training_data/unprocessed_training_data/hello/test.mp4
training_data/unprocessed_training_data/jacob/jacob.mp4
training_data/unprocessed_training_data/jacob/sample_1.png
.obsidian/*
